/* .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100% !important;
} */

.button-wrapper {
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin-left: 5rem;

}

.button-wrapper .card {
    width: 300px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "roboto";
}

.button-wrapper .card:hover{
    background-color: #003e6e !important;
    color:aliceblue !important;
}
.view-wrapper {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.view-queue {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50%;
    border: transparent;
    width: 100%;
}

.view-queue-number {
    height: 70%;
    font-size: 10rem;
}

.view-queue-name {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding-top: 10%;
}

.view-button .btn {
    width: 100%;
    height: 6rem;
    background-color: #003e6e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.view-button .btn .display-5{
    font-size: 2rem;
    font-family: "roboto";
    font-weight: bold;
    padding: 10px;
} 
 .btn:hover{
    color:white !important;
}

@media(max-width:425px) {

    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .button-wrapper {
        width: 100%;
        height: 40%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        margin-left: 0;
    }



    .view-wrapper {
        display: flex;
        width: 70%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: start;
    }

}
