.content-wrapper-1 {
    height: 80%;
    width: 100%;
    max-width: 82.5rem;
    max-height: 150rem;
    display: flex;
    align-items: center;
}

.button-wrapper {
    width: 40%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button-wrapper .card {
    width: 100%;
    height: 40%;
    max-width: 300px !important;
    min-width: 100px;
    min-height: 100px;
    max-height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "roboto";
}

.button-wrapper .card:hover{
    background-color: #003e6e !important;
    color: aliceblue !important;
}
.view-wrapper {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.view-queue {
    max-width: 40rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width:  70%;
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.view-queue-number {
    height: 70%;
    width:90%;
    font-size: clamp(10rem, 10vh, 15rem);
    /* border: #003e6e80 0.4rem solid; */
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.view-queue-name {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.view-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
    }

.view-button .btn {
    width: 100%;
    height: 50%;
    max-width: 100%;
    min-width: 18rem;
    background-color: #001c30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0.5rem !important;
    border: none !important;
}
.view-button .btn  {
    word-spacing: 20px;
    font-size: 1em;
    font-family: "roboto";
    font-weight: bold;
}
.view-button .btn:active{
    background-color:#003e6e;
}

@media (max-width: 880px ),  (min-height: 1620px){
    .content-wrapper-1 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .button-wrapper {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        margin-left: 0;
    }

    .view-wrapper {
        display: flex;
        width: 90%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: start;
    }
    .view-queue{
        width: 100%;
        max-width: 45rem !important;
    }
    .view-button .btn  {
        word-spacing: 20px;
        font-family: "roboto";
        font-weight: bold;
    }
}
