.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-fluid {
    background-color: #004f86 !important;
    display: flex !important;
    padding: 10px 10px;
    justify-content: space-between;
    position: relative !important;
}

.container {
    max-width: 2000px !important;
    display: flex;
    padding: 0 !important;
    height: inherit;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;

}

.logo a {
    margin: 0;
}

nav {
    width: 100%;
}

.navbar h3 {
    margin-left: 10px;
    font-family: lora;
    font-size: 1.5rem;
    cursor: default;
    margin-bottom: 0;
}



.profile {
    margin-right: 30px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile h1 {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: medium;
    margin-right: 10px;
}
.dropdown{
    cursor: pointer;
}
.main-image-div{
    background-color: white;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(121, 121, 121);
}
.main-image-div img{
    max-width: 40px;
    max-height: 40px;
}
.content-wrapper{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* .img-btn{
    width: 100%;
    height: 100%;
    
} */
/* .img-main{
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 50% !important;
    display: flex;
}

.img-main img {
    width: 100%;
    height: 100%;
} */




/* .dropdown i {
    width: 100%;
    height: 30px;
    color: #004f86;
} */
/* 
.bxs-down-arrow {
    font-size: medium;
} */

/* .dropdown {
    font-size: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 30px !important;
    display: flex;
    align-items: center;
    justify-items: center;

} */

.btn-secondary {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

button {
    text-align: center;
    border: none;
    min-width: 20px;
    min-height: 33px;
    text-align: center;
    white-space: nowrap;
    background-color: transparent !important;
}


/* <------------------Content1--------------------------> */