.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.image-container img{
    width: 159px;
    height: 170px;
    cursor: pointer;
}
.image-container h2{
    color: var(--white-text-color);
    font-family: 'Lora';
    font-weight: bold;
    margin-left: 10px;
    cursor: default;
}
.a{
    height: 100%;
}